## EJERCICIO 5

In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

In [4]:
## Inicializa una sesión en Spark en consola y coloca en una variable llamada playersPersInfo la información
## del archivo t_players_info.csv, t_players_salary.csv, t_players_pers_info.csv considerando la realización
## de un left join; usa como llave primaria el campo Rank y muestra el resultado en pantalla
info_df = spark.read.csv("data/t_players_info.csv", header=True, inferSchema=True)
salary_df = spark.read.csv("data/t_players_salary.csv", sep="|", header=True, inferSchema=True)
pers_df = spark.read.csv("data/t_players_pers_info.csv", inferSchema=True)

pers_renamed_df = pers_df.withColumnRenamed("_c0", "Rank").withColumnRenamed("_c1", "Country").withColumnRenamed(
    "_c2", "Year").withColumnRenamed("_c3", "Date").withColumnRenamed("_c4", "Home")

playersPersInfo = info_df.join(salary_df, ["Rank"], "left").join(pers_renamed_df, ["Rank"], "left")
playersPersInfo.show()

+----+-----------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
|Rank|             Name|     Sport|      Wikipedia Page|Gender|  Total Pay|Salary/Winnings|Endorsements|           Country|Year|      Date|                Home|_c5|
+----+-----------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
|  55|    Aaron Rodgers|  Football|http://en.wikiped...|  Male|$22,000,000|    $11,000,000| $11,000,000|     United States|1981|26/09/1981|Saginaw, Michigan...|175|
|  55|    Aaron Rodgers|  Football|http://en.wikiped...|  Male|$22,000,000|    $11,000,000| $11,000,000|     United States|1983| 2/12/1983|Chico, California...|188|
|  55|    Aaron Rodgers|  Football|http://en.wikiped...|  Male|$22,000,000|    $14,500,000|  $7,500,000|     United States|1981|26/09/1981|Saginaw, Michigan...|175|
|  55|    Aaron Rodgers|  Football|http://en.wikiped...|  Male|$22,000,000|    $14,500,000|  $7,500,000|     United States|1983| 2/12/1983|Chico, California...|188|
|  95|       Adam Scott|      Golf|https://en.wikipe...|  Male|$17,700,000|     $8,700,000|  $9,000,000|         Australia|1980|16/07/1980| Adelaide, Australia|183|
|  60|  Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $18,000,000|  $3,500,000|Dominican Republic|1982|22/11/1982|San Pedro de Maco...|183|
|  60|  Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $18,000,000|  $3,500,000|     United States|1982|08/05/1982|San Diego, Califo...|188|
|  60|  Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $21,100,000|    $400,000|Dominican Republic|1982|22/11/1982|San Pedro de Maco...|183|
|  60|  Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $21,100,000|    $400,000|     United States|1982|08/05/1982|San Diego, Califo...|188|
|  48|   Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,500,000|    $400,000|         Venezuela|1979|13/03/1979|   Mérida, Venezuela|183|
|  48|   Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,500,000|    $400,000|     United States|1975|27/07/1975|       New York City|190|
|  48|   Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,600,000|    $300,000|         Venezuela|1979|13/03/1979|   Mérida, Venezuela|183|
|  48|   Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,600,000|    $300,000|     United States|1975|27/07/1975|       New York City|190|
|  93|  Alfonso Soriano|  Baseball|http://en.wikiped...|  Male|$18,050,000|    $18,000,000|     $50,000|Dominican Republic|1976|07/01/1976|San Pedro de Maco...|185|
|  27|Amar'e Stoudemire|Basketball|http://en.wikiped...|  Male|$26,700,000|    $21,700,000|  $5,000,000|     United States|1982|16/11/1982| Lake Wales, Florida|211|
|  75|       Barry Zito|  Baseball|http://en.wikiped...|  Male|$20,400,000|    $20,000,000|    $400,000|     United States|1984| 1/10/1984|     Dothan, Alabama|190|
|  75|       Barry Zito|  Baseball|http://en.wikiped...|  Male|$20,400,000|    $20,000,000|    $400,000|     United States|1978|13/05/1978|Las Vegas Valley,...|188|
|  75|       Barry Zito|  Baseball|http://en.wikiped...|  Male|$20,400,000|    $20,300,000|    $100,000|     United States|1984| 1/10/1984|     Dothan, Alabama|190|
|  75|       Barry Zito|  Baseball|http://en.wikiped...|  Male|$20,400,000|    $20,300,000|    $100,000|     United States|1978|13/05/1978|Las Vegas Valley,...|188|
|  47|    Blake Griffin|Basketball|http://en.wikiped...|  Male|$23,000,000|    $16,500,000|  $6,500,000|     United States|1989|16/03/1989|Oklahoma City, Ok...|208|
+----+-----------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
only showing top 20 rows

In [5]:
## Muestra el tipo de dato de cada columna
playersPersInfo.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Wikipedia Page: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Total Pay: string (nullable = true)
 |-- Salary/Winnings: string (nullable = true)
 |-- Endorsements: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Home: string (nullable = true)
 |-- _c5: integer (nullable = true)

In [6]:
## Filtra solo por los jugadores que no viven en los Estados Unidos
playersNoUSA = playersPersInfo.filter(col("Country") != "United States")
playersNoUSA.show()

+----+---------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
|Rank|           Name|     Sport|      Wikipedia Page|Gender|  Total Pay|Salary/Winnings|Endorsements|           Country|Year|      Date|                Home|_c5|
+----+---------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
|  95|     Adam Scott|      Golf|https://en.wikipe...|  Male|$17,700,000|     $8,700,000|  $9,000,000|         Australia|1980|16/07/1980| Adelaide, Australia|183|
|  60|Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $18,000,000|  $3,500,000|Dominican Republic|1982|22/11/1982|San Pedro de Maco...|183|
|  60|Adrian Gonzalez|  Baseball|http://en.wikiped...|  Male|$21,500,000|    $21,100,000|    $400,000|Dominican Republic|1982|22/11/1982|San Pedro de Maco...|183|
|  48| Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,500,000|    $400,000|         Venezuela|1979|13/03/1979|   Mérida, Venezuela|183|
|  48| Alex Rodriguez|  Baseball|http://en.wikiped...|  Male|$22,900,000|    $22,600,000|    $300,000|         Venezuela|1979|13/03/1979|   Mérida, Venezuela|183|
|  93|Alfonso Soriano|  Baseball|http://en.wikiped...|  Male|$18,050,000|    $18,000,000|     $50,000|Dominican Republic|1976|07/01/1976|San Pedro de Maco...|185|
|  57|     Chris Bosh|Basketball|http://en.wikiped...|  Male|$21,800,000|    $19,300,000|  $2,500,000|             Spain|1980|06/07/1980|    Barcelona, Spain|213|
|  57|     Chris Bosh|Basketball|http://en.wikiped...|  Male|$21,800,000|    $19,300,000|  $2,500,000|             Spain|1980|06/07/1980|    Barcelona, Spain|213|
|  80|    David Ortiz|  Baseball|http://en.wikiped...|  Male|$19,800,000|    $14,800,000|  $5,000,000|Dominican Republic|1975|18/11/1975|Santo Domingo, Do...|195|
|  35|    Derek Jeter|  Baseball|http://en.wikiped...|  Male|$24,300,000|     $4,300,000| $20,000,000|  Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  35|    Derek Jeter|  Baseball|http://en.wikiped...|  Male|$24,300,000|    $15,300,000|  $9,000,000|  Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  45|  Dirk Nowitzki|Basketball|http://en.wikiped...|  Male|$23,200,000|       $200,000| $23,000,000|           Jamaica|1986|21/08/1986|Trelawny Parish, ...|196|
|  45|  Dirk Nowitzki|Basketball|http://en.wikiped...|  Male|$23,200,000|       $200,000| $23,000,000|           Germany|1978|19/06/1978|West Germany, Wür...|213|
|  45|  Dirk Nowitzki|Basketball|http://en.wikiped...|  Male|$23,200,000|    $22,700,000|    $500,000|           Jamaica|1986|21/08/1986|Trelawny Parish, ...|196|
|  45|  Dirk Nowitzki|Basketball|http://en.wikiped...|  Male|$23,200,000|    $22,700,000|    $500,000|           Germany|1978|19/06/1978|West Germany, Wür...|213|
|  66|     Drew Brees|  Football|http://en.wikiped...|  Male|$21,000,000|    $19,500,000|  $1,500,000|            Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|     Drew Brees|  Football|http://en.wikiped...|  Male|$21,000,000|    $13,500,000|  $7,500,000|            Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|     Drew Brees|  Football|http://en.wikiped...|  Male|$21,000,000|    $10,000,000| $11,000,000|            Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|    Eli Manning|  Football|http://en.wikiped...|  Male|$21,000,000|    $19,500,000|  $1,500,000|            Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|    Eli Manning|  Football|http://en.wikiped...|  Male|$21,000,000|    $13,500,000|  $7,500,000|            Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
+----+---------------+----------+--------------------+------+-----------+---------------+------------+------------------+----+----------+--------------------+---+
only showing top 20 rows

In [9]:
## Ordena los jugadores del más joven al más veterano
playersResult = playersNoUSA.sort(desc("Year"))
playersResult.show()

+----+----------------+--------+--------------------+------+-----------+---------------+------------+----------------+----+----------+--------------------+---+
|Rank|            Name|   Sport|      Wikipedia Page|Gender|  Total Pay|Salary/Winnings|Endorsements|         Country|Year|      Date|                Home|_c5|
+----+----------------+--------+--------------------+------+-----------+---------------+------------+----------------+----+----------+--------------------+---+
|  16|          Neymar|  Soccer|http://en.wikiped...|  Male|$33,600,000|    $17,600,000| $16,000,000|          Brazil|1992|05/02/1992|Mogi das Cruzes, ...|175|
|  66|     Eli Manning|Football|http://en.wikiped...|  Male|$21,000,000|    $10,000,000| $11,000,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|      Drew Brees|Football|http://en.wikiped...|  Male|$21,000,000|    $10,000,000| $11,000,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|     Eli Manning|Football|http://en.wikiped...|  Male|$21,000,000|    $19,500,000|  $1,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|      Drew Brees|Football|http://en.wikiped...|  Male|$21,000,000|    $19,500,000|  $1,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|     Eli Manning|Football|http://en.wikiped...|  Male|$21,000,000|    $13,500,000|  $7,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|  Canelo Alvarez|  Boxing|http://en.wikiped...|  Male|$21,000,000|    $19,500,000|  $1,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|  Canelo Alvarez|  Boxing|http://en.wikiped...|  Male|$21,000,000|    $13,500,000|  $7,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|  Canelo Alvarez|  Boxing|http://en.wikiped...|  Male|$21,000,000|    $10,000,000| $11,000,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  66|      Drew Brees|Football|http://en.wikiped...|  Male|$21,000,000|    $13,500,000|  $7,500,000|          Mexico|1990|18/07/1990|Guadalajara, Jali...|180|
|  35|     Derek Jeter|Baseball|http://en.wikiped...|  Male|$24,300,000|    $15,300,000|  $9,000,000|Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  14|     Gareth Bale|  Soccer|http://en.wikiped...|  Male|$36,400,000|    $25,400,000| $11,000,000|           Wales|1989|16/07/1989|      Cardiff, Wales|183|
|  35|    Rory McIlroy|    Golf|http://en.wikiped...|  Male|$24,300,000|     $4,300,000| $20,000,000|Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  35|    Rory McIlroy|    Golf|http://en.wikiped...|  Male|$24,300,000|    $15,300,000|  $9,000,000|Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  35|     Derek Jeter|Baseball|http://en.wikiped...|  Male|$24,300,000|     $4,300,000| $20,000,000|Northern Ireland|1989|04/05/1989|County Down, Nort...|175|
|  89|Larry Fitzgerald|Football|http://en.wikiped...|  Male|$18,500,000|    $12,500,000|  $6,000,000|         Germany|1988|15/10/1988|Gelsenkirchen, Ge...|181|
|  89|      Mesut Özil|  Soccer|http://en.wikiped...|  Male|$18,500,000|    $17,000,000|  $1,500,000|         Germany|1988|15/10/1988|Gelsenkirchen, Ge...|181|
|  89|      Mesut Özil|  Soccer|http://en.wikiped...|  Male|$18,500,000|    $12,500,000|  $6,000,000|         Germany|1988|15/10/1988|Gelsenkirchen, Ge...|181|
|  89|Larry Fitzgerald|Football|http://en.wikiped...|  Male|$18,500,000|    $17,000,000|  $1,500,000|         Germany|1988|15/10/1988|Gelsenkirchen, Ge...|181|
|  44|   Sergio Agüero|  Soccer|http://en.wikiped...|  Male|$23,300,000|    $18,300,000|  $5,000,000|       Argentina|1988|02/06/1988|        Buenos Aires|173|
+----+----------------+--------+--------------------+------+-----------+---------------+------------+----------------+----+----------+--------------------+---+
only showing top 20 rows

In [11]:
## Escribe el resultado en un nuevo CSV delimitado por pipes "|" y nómbralo csv_result_players_info.csv
playersResult.write.mode("overwrite").csv("data/csv_result_players_info.csv", header=True, sep="|")