# EJERCICIO 4 - Arredondo Vazquez Guillermo
Inicializa una sesión de spark en consola y coloca en una variable llamada playersSalary la
información del archivo t_players_salary.csv y muestra el resultado en pantalla
- Muestra el tipo de dato de cada columna
- Ordena los valores de mayor a menor de acuerdo a la columna Total Pay y muestra el resultado en pantalla
- Devuelve el conteo de todos los salarios por juego ganado mayores a 15,300,000 y muestra el resultado en pantalla
- Devuelve el conteo de todos los salarios por endoso mayores a 800,000 y muestra el resultado en pantalla
- Devuelve el Salario total máximo de todo el set de datos y muestra el resultado en pantalla
- Devuelve el Salario total mínimo de todo el set de datos y muestra el resultado en pantalla
- Devuelve la suma y promedio de los salarios de cada columna y muestra el resultado en pantalla

In [1]:
#Para utilizar pyspark en notebook es necesario utilizar findspark
#con la funcion .init() lo inicializamos
import findspark
findspark.init()
import pandas as pd
import pyspark

from pyspark.sql import SparkSession
#Libreria para utilizar el count
from pyspark.sql.functions import *

In [2]:
#El sparkSession crea internamente sparkconfig y el sparkContext
spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Df')\
        .getOrCreate()

In [4]:
dfPlayers = spark.read.csv("data/t_players_salary.csv", sep="|", header=True, inferSchema=True)
dfPlayers.show()

+----+-----------+---------------+------------+
|Rank|  Total Pay|Salary/Winnings|Endorsements|
+----+-----------+---------------+------------+
|  55|$22,000,000|    $14,500,000|  $7,500,000|
|  95|$17,700,000|     $8,700,000|  $9,000,000|
|  60|$21,500,000|    $21,100,000|    $400,000|
|  48|$22,900,000|    $22,600,000|    $300,000|
|  93|$18,050,000|    $18,000,000|     $50,000|
|  27|$26,700,000|    $21,700,000|  $5,000,000|
|  75|$20,400,000|    $20,300,000|    $100,000|
|  47|$23,000,000|    $16,500,000|  $6,500,000|
|  91|$18,435,000|    $18,400,000|     $35,000|
|  97|$17,500,000|    $16,800,000|    $700,000|
|  74|$20,500,000|    $20,200,000|    $300,000|
|  84|$18,750,000|    $18,700,000|     $50,000|
|  24|$29,400,000|    $21,400,000|  $8,000,000|
|  37|$24,200,000|    $23,000,000|  $1,200,000|
|  37|$24,200,000|    $18,700,000|  $5,500,000|
|  57|$21,800,000|    $19,300,000|  $2,500,000|
|  30|$25,300,000|    $25,100,000|    $200,000|
|  70|$20,700,000|    $20,500,000|    $200,000|
|  40|$23,800,000|    $23,000,000|    $800,000|
|  80|$19,800,000|    $14,800,000|  $5,000,000|
+----+-----------+---------------+------------+
only showing top 20 rows

In [5]:
#Muestra el tipo de dato de cada columna
arreglo1 = dfPlayers.dtypes
for nombre, tipo in arreglo1:
    print("La columna",nombre,"tiene variables de tipo:",tipo)

La columna Rank tiene variables de tipo: int
La columna Total Pay tiene variables de tipo: string
La columna Salary/Winnings tiene variables de tipo: string
La columna Endorsements tiene variables de tipo: string

In [7]:
#Ordena los valores de mayor a menor de acuerdo a la columna Total Pay y muestra el resultado en pantalla
dfPlayers.orderBy("Total Pay",ascending=False).show()

+----+-----------+---------------+------------+
|Rank|  Total Pay|Salary/Winnings|Endorsements|
+----+-----------+---------------+------------+
|   2|$80,000,000|    $52,000,000| $28,000,000|
|   3|$72,300,000|    $19,300,000| $53,000,000|
|   4|$64,700,000|    $41,700,000| $23,000,000|
|   5|$61,500,000|    $30,500,000| $31,000,000|
|   6|$61,200,000|     $6,200,000| $55,000,000|
|   7|$56,200,000|     $4,200,000| $52,000,000|
|   8|$53,200,000|     $5,200,000| $48,000,000|
|   9|$44,500,000|    $14,500,000| $30,000,000|
|  10|$43,800,000|    $42,000,000|  $1,800,000|
|  11|$41,800,000|    $41,000,000|    $800,000|
|  12|$40,400,000|    $36,400,000|  $4,000,000|
|  13|$36,600,000|    $17,600,000| $19,000,000|
|  14|$36,400,000|    $25,400,000| $11,000,000|
|  15|$35,400,000|    $32,400,000|  $3,000,000|
|  16|$33,600,000|    $17,600,000| $16,000,000|
|  17|$33,100,000|    $12,100,000| $21,000,000|
|  18|$33,000,000|    $31,500,000|  $1,500,000|
|  19|$32,000,000|    $29,000,000|  $3,000,000|
|  20|$31,900,000|    $17,900,000| $14,000,000|
|  21|$31,000,000|    $29,000,000|  $2,000,000|
+----+-----------+---------------+------------+
only showing top 20 rows

In [54]:
#Devuelve el conteo de todos los salarios por juego ganado mayores a 15,300,000 y muestra el resultado en pantalla
newDF2 = dfPlayers.withColumn("SalaryPerWinnings", regexp_replace(col("Salary/Winnings"), "[^\d.]", "").cast("int"))
newConteo = newDF2.filter(newDF2["SalaryPerWinnings"] > 15300000).count()
print("Cantidad de salarios/juegoGanado es =",newConteo)

Cantidad de salarios/juegoGanado es = 76

In [55]:
#Devuelve el conteo de todos los salarios por endoso mayores a 800,000 y muestra el resultado en pantalla
newDF3 = dfPlayers.withColumn("Endosos", regexp_replace(col("Endorsements"), "[^\d.]", "").cast("int"))
newConteo = newDF3.filter(newDF3["Endosos"] > 800000).count()
print("Cantidad de salarios por endoso es =",newConteo)

Cantidad de salarios por endoso es = 65

In [56]:
#Devuelve el Salario total máximo de todo el set de datos y muestra el resultado en pantalla
newDF1 = dfPlayers.withColumn("Totales", regexp_replace(col("Total Pay"), "[^\d.]", "").cast("int"))
maximo = newDF1.agg(max("Totales")).first()[0]
print("El salario MAX es",maximo)

El salario MAX es 105000000

In [57]:
#Devuelve el Salario total mínimo de todo el set de datos y muestra el resultado en pantalla
newDF1 = dfPlayers.withColumn("Totales", regexp_replace(col("Total Pay"), "[^\d.]", "").cast("int"))
maximo = newDF1.agg(min("Totales")).first()[0]
print("El salario MIN es",maximo)

El salario MIN es 17300000

In [64]:
#Devuelve la suma y promedio de los salarios de cada columna y muestra el resultado en pantalla
sumaTotales = newDF1.agg(sum("Totales")).first()[0]
sumaSalarioXGanada = newDF2.agg(sum("SalaryPerWinnings")).first()[0]
sumaSalarioEndosado = newDF3.agg(sum("Endosos")).first()[0]
print(" Suma Totales:",sumaTotales,"\n","Suma SalarioXGanada:",sumaSalarioXGanada,
      "\n","Suma SalarioEndosado:",sumaSalarioEndosado)

 Suma Totales: 2751385000
 Suma SalarioXGanada: 2009900000
 Suma SalarioEndosado: 741485000